@use "./../Assets/partials/devices.scss";
@use "./../Assets/partials/palette.scss";
@use "./../Assets/partials/fonts.scss";

.Intro {
  display: flex;
  justify-content: space-between;
  height: 50vh;
  background: linear-gradient(90deg, #9c5ce0 67%, #f47c8a 33%);
  background-size: 100%;
  padding-bottom: 5em;

  @include devices.phone {
    display: block;
    margin-top: 0;
    height: 100vh;
    background: none;
  }

  &__text {
    display: inline-flex;
    margin-top: 11em;
    position: relative;
    color: white;

    @include devices.phone {
      display: block;
      font-size: 10px;
    }

    @include devices.desktop {
      max-width: 1201px;
      //font-size: 25vw;
    }

    @include devices.large-desktop {
      max-width: 1701px;
    }
  }

  &__titles {
    margin-left: 10rem;
    margin-right: 10rem;

    @include devices.phone {
      margin: 0;
    }
  }

  h1 {
    color: palette.$accent;
    font-family: "Rubik", sans-serif;
    font-size: 35px;

    @include devices.phone {
      font-size: 30px;
    }

    @include devices.large-phone {
      font-size: 50px;
    }
  }

  h2 {
    color: palette.$background;
    font-family: "Rubik", sans-serif;

    @include devices.phone {
      font-size: 24px;
    }

    @include devices.large-phone {
      font-size: 35px;
    }
  }

  &__para {
    // position: fixed;
    // right: 5%;
    max-height: 100%;
    font-family: "Inconsolata", monospace;
    text-align: left;
    //height: 100%;
    background-color: palette.$accent;

    @include devices.phone {
      margin: 0 auto;
      width: 85%;
      line-height: 40px;
      font-size: 17px;
      padding: 15px;
    }
    @include devices.large-phone {
      line-height: 45px;
      padding: 20px;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 20rem;
    height: auto;
  }

  &__img:hover {
    transform: scale(2);
  }
}
