@use "../Assets/partials/devices.scss";
@use "../Assets/partials/palette.scss";

.Navbar {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  font-family: "Inconsolata", monospace;
  position: fixed;
  top: 0;
  background: transparent;
  font-size: 2rem;
  z-index: 1;

  #logo {
    @include devices.phone {
      height: 50px;
      width: auto;
    }
  }

  &__navIcons {
    padding: 1em;
    color: white;
    z-index: 1;

    @include devices.phone {
      height: 30px;
      width: auto;
    }
    @include devices.large-phone {
      height: 50px;
      width: auto;
    }
  }
}

nav {
  display: flex;
  justify-content: space-evenly;

  a {
    padding: 0;
    margin: 20px;
    width: 80%;
    font-size: 30px;

    @include devices.phone {
      margin: 15.5px;
      font-size: 20px;
      width: 70%;
      padding: 0;
    }
  }
} 

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: white;
}

.menuVisible {
  visibility: visible;
  position: fixed;
  top: 0;

  @include devices.phone {
    display: flex;
    //flex-direction: column;
    width: 100vw;
    background-color: palette.$accent;
    padding-top: 20%;
  }
}

.menuHidden {
  visibility: hidden;
  position: fixed;
}
