@use "../../Assets/partials/devices.scss";

.contact {
  padding: 5rem;

  &__linkedin {
    margin-right: 20px;
  }

  @include devices.large-phone {
    h2 {
      font-size: 35px;
    }
  }

  p {
    margin-top: 2rem;
  }

  span {
    margin-top: 10px;
  }

  #botcheck {
    display: none;
  }
}
