@use "../../Assets/partials/devices.scss";
@use "../../Assets/partials/palette.scss";

.Navbar {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  height: 5em;
  width: 100%;
  font-family: "Inconsolata", monospace;
  box-sizing: border-box;
  padding: 1em;

  &__icon {
    position: fixed;
    @include devices.phone {
      height: 30px;
      width: auto;
    }
    @include devices.large-phone {
      height: 50px;
      width: auto;
    }
  }
}

nav {
  display: flex;
  justify-content: space-evenly;

  a {
    padding: 0;
    margin: 20px;
    width: 80%;
    font-size: 30px;

    @include devices.phone {
      margin: 15.5px;
      font-size: 20px;
      width: 70%;
      padding: 0;
    }
  }
}

a:visited {
  color: palette.$accent;
}

a:link {
  color: palette.$accent;
}

.menuVisible {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 13.5%;

  @include devices.phone {
    left: 10%;
  }
}

.menuHidden {
  visibility: hidden;
  position: fixed;
  left: 100%;
}
