@use "../../Assets/partials/devices.scss";
@use "../../Assets/partials/palette.scss";
@use "../../Assets/partials/fonts.scss";

.Intro {
  h1 {
    color: palette.$title;
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    padding-top: 5rem;

    @include devices.large-phone {
      font-size: 50px;
    }
  }

  h2 {
    color: palette.$accent;
    font-family: "Rubik", sans-serif;
    padding-top: 5rem;
    padding-bottom: 10rem;

    @include devices.large-phone {
      font-size: 35px;
    }
  }

  &__para {
    font-family: "Inconsolata", monospace;

    // max-width: 50%;
    @include devices.phone {
      margin: 0 auto;
      color: palette.$body;
      text-align: left;
      width: 20rem;
      height: auto;
      line-height: 40px;
    }
    @include devices.large-phone {
      line-height: 45px;
      margin: 0 auto;
      padding: 20px;
    }
  }

  &__para > h2 {
    color: black;
  }

  &__flex {
    display: flex;
    padding: 4rem 4rem;
  }

  &__headshot {
    display: flex;
    align-items: center;
  }

  p {
    align-items: center;
  }
}

#title {
  background-color: aqua;
}

// img {
//   height: 50vw;
// }
