@use "../../Assets/partials/devices.scss";
@use "../../Assets/partials/palette.scss";
@use "../../Assets/partials/fonts.scss";

.Intro {
  h1 {
    color: palette.$title;
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    padding-top: 5rem;

    @include devices.large-phone {
      font-size: 50px;
    }
  }

  h2 {
    color: palette.$accent;
    font-family: "Rubik", sans-serif;
    padding-top: 5rem;
    padding-bottom: 10rem;

    @include devices.large-phone {
      font-size: 35px;
    }
  }

  &__para {
    font-family: "Inconsolata", monospace;
  }

  &__para > h2 {
    color: black;
  }

  &__headshot {
    display: flex;
    align-items: center;
  }

  p {
    //align-items: center;
    @include devices.large-phone {
      margin: 0 4rem 3rem 4rem;
    }
  }
}
