@use "./../portfolio-website/palette";
@use "./../portfolio-website/fonts";
@use "./../portfolio-website/carousel";

body {
    background-color: palette.$background-color;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: xx-large;
    color: palette.$header-color;
    letter-spacing: 5px;
}

p {
    font-family: fonts.$main-font;
    font-style: normal;
    font-weight: 200;
    color: palette.$main-color;
}

//Navbar
.container {
    display: flex;
    justify-content: flex-end;
    li {
        font-family: fonts.$main-font;
        font-weight: 400;
        font-size: x-large;
        margin: 0px 20px;
        color: palette.$main-color;
    }
    li a {
        text-decoration: none;
        color: palette.$main-color;
    }
    li a:hover {
        color: palette.$hover;
    }
    &__list {
        list-style-type: none;
    }
}

//Intro
.intro {
    margin: 0px;
    padding-top: 100px;
    display: flex;
    height: 70vh;
    width: 100%;
    background-position: center bottom;
    background-size: cover;
    background-image: url("./Images/layered-waves-haikei.png");

    &__header {
        /* Lianna Pyman Junior Software Engineer */
        width: 500px;
        height: 300px;

        font-family: "Oswald", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 71px;
        display: flex;
        align-items: center;
        align-content: flex-start;
        letter-spacing: 0.2em;
    }

    &__para {
        width: 312px;
        height: 277px;
        padding: 40px;

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 31px;

        display: flex;
        align-items: flex-end;
        flex-wrap: nowrap;
        flex-direction: row;
        align-content: flex-end;
        text-align: right;

        color: palette.$main-color;
    }
}

//Skills
.skills {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    &--spacing {
        margin-bottom: 50px;
    }

    &__header {
        width: 125px;
        height: 89px;

        font-family: fonts.$main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 53px;
        display: flex;
        align-items: center;
        letter-spacing: 0.2em;
        justify-content: flex-end;

        color: palette.$header-color;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__icons {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        text-align: center;
        flex-wrap: nowrap;
        color: palette.$main-color;

        &__second {
            display: flex;
            padding: 50px;
            justify-content: space-evenly;
        }
    }
}

.projects {
    padding: 50px;
    justify-content: center;
    font-family: fonts.$main-font;
    display: flex;

    &__headerOne {
        padding-top: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__headerThree {
        display: flex;
        justify-content: center;
        color: palette.$main-color;
    }
}

.contact {
    display: flex;
    color: palette.$main-color;

    &__icons {
        justify-content: space-around;
    }
}

//Carousel for projects
// .carousel-indicators {
//     width: carousel.$carousel-indicator-width;
//     height: carousel.$carousel-indicator-height;
//     opacity: carousel.$carousel-indicator-opacity;
//     transition: carousel.$carousel-indicator-transition;

//     button:active {
//         opacity: carousel.$carousel-indicator-active-opacity;
//     }
// }

// .carousel-control {
//     display: flex;
//     color: carousel.$carousel-control-color;
//     width: carousel.$carousel-control-width;
//     opacity: carousel.$carousel-control-opacity;
//     transition: carousel.$carousel-control-transition;

//     button:hover {
//         opacity: carousel.$carousel-control-hover-opacity;
//     }
// }

// .carousel-item {
//     display: flex;
// }

// .contact {
//     padding-top: 50px;
// }
