.App {
  text-align: center;
}

h2 {
  color: #9c5ce0;
  font-family: "Rubik", sans-serif;
}

p,
ul {
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  line-height: 1.6em;
  font-style: normal;
  font-weight: 400;
  height: 100%;
}

p {
  margin-right: 1em;
  text-align: justify;
}

section {
  margin: 5rem 10rem;
  height: 100%;
}
