.App {
  text-align: center;
}

h2 {
  color: #9c5ce0;
  font-family: "Rubik", sans-serif;
}

p,
ul {
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  line-height: 1.6em;
  font-style: normal;
  font-weight: 400;
  margin: 1.25em;
  height: 100%;
}

section {
  margin: 2rem 5rem;
  height: 100%;
}
